version: "3.2"

services:
  rabbitmq-api:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq-api
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - google_network

networks:
  google_network:
    name: google_network
    driver: bridge
